<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/style.css">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<header class="navbar">

  <div class="nav-inner">

    <div class="nav-logo logo">
      <span class="mark">E</span>idona <span class="bio">Bio</span>
    </div>

    <nav class="nav-links">
      <a href="#home">Home</a>
      <a href="#approach">Approach</a>
      <a href="#founders">Founders</a>
      <a href="#contact">Contact</a>
    </nav>

  </div>

</header>

<body>

  <main class="container">
    {{ content }}
  </main>

</body>
</html>
